import { memo } from 'react'
import type { FC, ReactNode } from 'react'

interface IProps {
  children?: ReactNode
}

const <%= name %>: FC<IProps> = () => {
  return <div className="<%=lowername %>">template</div>
}

export default memo(<%= name %>)